/* You can add global styles to this file, and also import other style files */
.mat-mdc-dialog-container {
  border-radius: 12px !important;
}

.mat-mdc-dialog-surface {
  overflow: hidden !important;
}
/* ===== Base snackbar container ===== */
/* ===============================
   ANGULAR MATERIAL MDC SNACKBAR
   =============================== */

/* Base container */
.mat-mdc-snack-bar-container {
  border-radius: 6px !important;
  font-size: 14px;
  font-weight: 500;
  min-width: unset !important;
}

/* Snackbar surface (THIS is where background lives) */
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  padding: 8px 14px !important;
  border-radius: 6px !important;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

/* ===============================
   SUCCESS
   =============================== */
.mat-mdc-snack-bar-container.toast-success
.mdc-snackbar__surface {
  background-color: #2e7d32 !important;
  color: #ffffff !important;
}

/* ===============================
   ERROR
   =============================== */
.mat-mdc-snack-bar-container.toast-error
.mdc-snackbar__surface {
  background-color: #d32f2f !important;
  color: #ffffff !important;
}

/* Text */
.mat-mdc-snack-bar-container.toast-success
.mdc-snackbar__label,
.mat-mdc-snack-bar-container.toast-error
.mdc-snackbar__label {
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 500;
}

/* Tick / Cross */
.mat-mdc-snack-bar-container
.mdc-button {
  color: #ffffff !important;
  font-size: 18px !important;
  padding: 0 6px !important;
  line-height: 1;
}
/*  Notification dropdown position */
.notification-panel .mat-mdc-dialog-container {
  border-radius: 14px;
  
}
